---
import { Icon } from "astro-icon";
import { songs } from "../lib/data";
import PureInlineArtists from "./PureInlineArtists.astro";
import InlineArtists from "./InlineArtists.astro";
---

<table class="table-auto text-left min-w-full divide-y-2 divide-gray-500/30">

</table>
